body {
    /* height: 100vh; */
    justify-content: center;
    align-items: center;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.intro-header{
    color: brown;
    font-size: 2rem;
}

/* h3 {
    font-size: 3rem;
    background-color: beige;
    border: 1px solid black;
}

h3::before{
    content:'hello';
    background-color: red;
    display: block;
    font-size: 2rem;
    font-weight: 900;
}

h3::after {
    content: 'ssuupp!';
    background-color: aquamarine;
    display: flex;
    font-size: 2rem;
} */

blockquote{
    font-size: 2rem;
}

blockquote::before {
    content: open-quote;
    font-size: 3rem;
    color: #DDD;
}

blockquote::after {
    content: close-quote;
    font-size: 3rem;
    color: #DDD;
}


a[data-tool-tip] {
    position: relative;
}

a[data-tool-tip]::after {
    content: attr(data-tool-tip );
    background-color: #eee;
    padding: 0.5rem;
    display: block;
    position: absolute;
    border-radius: 10px;
    bottom:0;
    left:0;
    white-space: nowrap; 
    transform: scale(0);
    transition: 
        transform ease-in-out 100ms,
        bottom ease-out 100ms;
}

a[data-tool-tip]:hover::after {
    transform: scale(1);
    bottom: 100%;
}

.sections {
    width: 80%;
    margin-top: 3rem;
    align-items: center;
    margin: auto;
    counter-reset: counter;
}

.section {
    position: relative;
    margin-bottom: 1em;
    background-color: #eee;
    padding: 0.5rem;
}

.section::before {
    counter-increment: counter;
    content: counter(counter);
    position: absolute;
    left: -3rem;
    top:40%;
    background-color: salmon;
    width: 2em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid black;
    transition: all ease-in 100ms;
}

.section::after {
    content: ' ';
    background-color: grey;
    height:100%;
    width: 0.1rem;
    position: absolute;
    left: -2rem;
    top:0;
    bottom: 0;
    opacity: 0;
    transform: scale(0);
    transition: all ease-out 1s;
}


.section:hover::before {
    transform: translateY(-10%);
    background-color: rgb(238, 161, 153);
    
}

.section:hover::after {
    transform: scale(1);
    top:68%;
    opacity: 1;
}

.sections-two {
    background-color: rgb(34, 28, 34);
    padding: 1rem;
    text-align: center ;
    width: 100vw;
    max-width: 100%;
}

.intro {
    position: relative;
    z-index: 0;
    display: inline-block;
    color: rgb(192, 188, 218);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.intro::before,
.intro::after
{
    content: '';
    height: 100%;
    display: block;
    position: absolute;
    
}

.intro::before {
    background-color: rgb(34, 28, 34);
    /* width: 100%; */
    z-index: -1;
    left: -10px;
    right: -10px;
}

.intro::after {
    background-color: rgb(198, 214, 172);
    width:95vw;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -2;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.card {
    position: relative;
    margin: 1em;

}

.card::before,
.card::after {
    content: ' ';
    position: absolute;
    top:10px;
    bottom: 10px;
    left: 10px;
    right:10px;
}

.card::before {
    border-top: 1px solid rgb(255, 244, 248);
    border-bottom: 1px solid rgb(255, 244, 248);
    transform: scale(0,1);
    transition: all ease-out 250ms;
    /* background-color: aquamarine; */
}

.card::after {
    border-left: 1px solid rgb(255, 244, 248);
    border-right: 1px solid rgb(255, 244, 248);
    transform: scale(1,0);
    /* background-color: #eee; */
    transition: all ease-out 250ms;
}

.card__img {
    max-width: 100%;
    display: block;
    transition: opacity ease-out 250ms;
    opacity: 1;
    border-radius:15px;
}



.card__body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    opacity: 0;
    transition: opacity ease-out 250ms;
}

.card:hover .card__body {
    opacity: 1;
}

.card:hover .card__img {
    opacity: 0.4;
}

.card:hover::before {
    transform: scale(1.05,1);
}

.card:hover::after {
    transform: scale(1,1.05);
}

.hamburger {
    margin-top: 1em;
    background-color: #eee;
    min-height: 200px;
    display: grid;
    place-content: center;
}

.hamburger-two {
    margin-top: 1em;
    background-color: rgb(21, 22, 85);
    min-height: 200px;
    display: grid;
    place-content: center;
}

.nav-icon {
    width: 3rem;
    /* margin: 1rem; */
    /* margin: auto; */
    /* position: relative; */
    /* transition: all ease-in 3s ; */
}

/* .nav-icon div {
    width: 2rem;
    background-color: black;
    height: 0.3rem;
    display: block;
    margin-bottom: 0.2rem;

}

.nav-icon::before {
    content: ' ';
    background-color: rgb(202, 60, 60);
    width: 2rem;
    height: 0.3rem;
    margin-bottom: 0.2rem;
    
}

.nav-icon::after {
    content: ' ';
    background-color: rgb(202, 60, 60);
    width: 2rem;
    height: 0.3rem;
    margin-bottom: 0.2rem;

    
} */



.nav-icon div {
  background-color: rgb(106, 71, 185);
  border-radius: 3px;
  display: block;
  height: 5px;
  margin: 7px 0;
  transition: all .2s ease-in-out;
}

.nav-icon::before {
    background-color: rgb(106, 71, 185);
    border-radius: 3px;
    content: '';
    display: block;
    height: 5px;
    margin: 7px 0;
    transition: all .2s ease-in-out;
}

.nav-icon::after {
    background-color: rgb(106, 71, 185);
    border-radius: 3px;
    content: '';
    display: block;
    height: 5px;
    margin: 7px 0;
    transition: all .2s ease-in-out;
}



.nav-icon:hover:before {
    transform: translateY(12px) rotate(135deg);
    opacity: 0.7;
  }


.nav-icon:hover:after {
    transform: translateY(-12px) rotate(-135deg);
    opacity: 0.7;
  }

.nav-icon:hover div {
    transform: scale(0);
}


.nav-icon-two {
    width: 2rem;
}

.nav-icon-two div {
    background-color: rgb(238, 237, 241);
    border-radius: 3px;
    display: block;
    height: 5px;
    margin: 7px 0;
    transition: all .2s ease-in-out;
}

.nav-icon-two div::before {
    background-color: rgb(167, 141, 226);
    border-radius: 3px;
    content: '';
    display: block;
    height: 5px;
    margin: 7px 0;
    transition: all .2s ease-in-out;
}

.button-hovers{
    min-height: 300px;
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    align-items: center;
    /* background-color: #333; */
}


.btn {
    width: 10rem;
    height: 2rem;
    background-color:var(--background-color);
    color: #222;
    padding: .5em 1em;
    border: none;
    outline: none;
    position: relative;
    cursor: pointer;
   

    --background-color: #e3e3e3;
    --background-color-sec: rgb(37, 54, 153);
    --border-size:2px;

}

.btn.btn-border-pop::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0 ;
    /* background-color: rgb(43, 129, 163); */
    border: var(--border-size ) solid var(--background-color-sec);
    z-index: -1;
    transition: all ease-in-out 100ms;
    
}

.btn.btn-border-pop:hover::before,
.btn.btn-border-pop:focus::before {
    top:calc(var(--border-size) * -2);
    left:calc(var(--border-size) * -2);
    bottom:calc(var(--border-size) * -2);
    right:calc(var(--border-size) * -2);
}

.btn.btn-background-slide::before {
    content: '';
    position: absolute;
    background-color: var(--background-color-sec);
    z-index: -1;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #222;
    transform: scaleX(0);
    transform-origin:right ;
    transition: transform ease-in-out 500ms;
}

.btn.btn-background-slide:hover::before,
.btn.btn-background-slide:focus::before {
    transform: scaleX(1);
    transform-origin: left;
}

.btn.btn-background-slide:hover,
.btn.btn-background-slide:focus {
    color: #fff;
}

.btn.btn-background-slide {
    z-index: 1;
    transition: color ease-in-out 500ms;
}

.btn.btn-background-circle::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background-color: var(--background-color);
    border-radius: 50%;
    transform: scale(1.5);
    transition: transform ease-in-out 500ms;
}

.btn.btn-background-circle {
    z-index: 1;
    overflow: hidden;
    color: #222;
    transition: all ease-in-out 500ms;
    border-radius: 12px;
}

.btn.btn-background-circle:hover,
.btn.btn-background-circle:focus {
    color: #fff;
    background-color: var(--background-color-sec);

}

.btn.btn-background-circle:hover::before,
.btn.btn-background-circle:focus::before {
    transform: scale(0);
}

.btn.btn-border-underline::after {
    content: '';
    position: absolute;
    /* background-color: aquamarine; */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-bottom: var(--border-size) solid var(--background-color-sec);
    transform: scaleX(0);
    transform-origin:right;
    transition: transform ease-in-out 500ms;
}

.btn.btn-border-underline:hover::after {
    transform: scaleX(1);
}

.btn.btn-background-flow {
    z-index: 1;
    transition: color 250ms ease-in;
}

.btn.btn-background-flow::after{
    content: '';
    position: absolute;
    background-color: var(--background-color-sec);
    inset: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    transform: scaleY(0);
    transform-origin:bottom;
    transition: transform 250ms ease-in-out;

}

.btn.btn-background-flow:hover,
.btn.btn-background-flow:focus {
    color:#fff;
}

.btn.btn-background-flow:hover::after{
    transform: scaleY(1);
    transform-origin: top;
}

/* Advanced Hover Effects - Kevin Powell */

.btn.btn-background-corner{
    z-index: 1;
}

.btn.btn-background-corner::after {
    content: '';
    position: absolute;
    background-color: salmon;
    inset: 0;
    z-index: -1;
    transform: scale(0);
    transform-origin: bottom left;
    transition: transform 500ms ease-in-out;
}

.btn.btn-background-corner{
    border-radius: 5px;
}

.btn.btn-background-corner:hover::after{
    transform: scale(1);
    transform-origin: top right;
    /* overflow: hidden; */
}

.content--card--new {   
    min-height: 200px;
    padding: 1rem 2rem;
    border: 1px solid salmon;
    border-radius: 15px;
}
   

.card__new {
    /* border: 1px solid #fff; */
    padding: .5rem;
    position: relative;
    z-index: 1;
}

.card__new::before {
    content: '';
    position: absolute;
    top:45%;
    background-color: salmon;
    left:0;
    bottom: 0;
    height: 20%;
    width: 20%;
    z-index: -1;
    transform: translateY(-100%) scaleX(.05);
    transform-origin: left;
    transition: transform ease-in 300ms;
}

.card__new:hover::before{
    transform: translateY(-100%) scaleX(1);
}

.card__new::after {
    content: '';
    position: absolute;
    background-color: #DDD;
    height: 50%;
    top: 50%;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    transform: scaleY(0);
    transition: transform ease-in 300ms;
    transform-origin: top;

}

.card__new:hover::after {
    transform: scaleY(1);
}